@page 
@model GraduateWork.Pages.todos.IndexModel

@{
    ViewData["Title"] = "Task List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<body>

<h1>Your Tasks</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" id="successMessage">
        @TempData["SuccessMessage"]
    </div>

    <script>
        setTimeout(() => {
            document.getElementById('successMessage').style.display = 'none';
        }, 5000);
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" id="errorMessage">
        @TempData["ErrorMessage"]
    </div>

    <script>
        setTimeout(() => {
            document.getElementById('errorMessage').style.display = 'none';
        }, 5000);
    </script>
}
<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <input type="text" asp-for="SearchString" />
        <input type="submit" class="btn btn-primary" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoItem[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDoItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" class="btn btn-primary" asp-route-id="@item.Id">Delete</a> |
                    <a asp-page="./Reminder" class="btn btn-primary" asp-route-id="@item.Id">Reminder</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
